APP_ENV=development
LOG_LEVEL=info

HTTP_HOST=0.0.0.0
HTTP_PORT=8080
HTTP_SHUTDOWN_TIMEOUT=5s
APP_HOST_PORT=8080

# Для local host запусков указывайте localhost.
# В docker compose значение будет переопределено на postgres.
DB_HOST=localhost
DB_PORT=5432
DB_NAME=subscriptions
DB_USER=subscriptions
DB_PASSWORD=subscriptions
DB_SSLMODE=disable
DB_PING_TIMEOUT=5s
POSTGRES_HOST_PORT=5432
